//breakpoints
$tablets: 768px;
$phones: 480px;

//colours
$black: #232323;
$white: #ffffff;
$blue: #224798;
$green: #00a143;
$light-blue: #d2eeff;
$orange: #ff9b0e;
$light-orange: #ffe9bf;
$light-green: #4bec8d;
$light-lime-green: #b5f7cc;
$pink: #ffa3c2;
$white-pink: #fabfd3;
$light-pink: #fee3eb;
$light-yellow: #fef8e7;
$white-green: #d5f0dd;
$bright-blue: #008fff;
$light-grey: rgba(0, 0, 0, 0.5);
$shadow-black: rgba(0, 0, 0, 0.1);
