.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  background: $white;
  align-items: stretch;
  border-radius: 15px;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
  }

  &__visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }

  &__input {
    width: 100%;
    border: 3px solid $light-blue;
    box-shadow: 1px 1px 9px $shadow-black;
    border-radius: 7px;
    padding: 7px;

    &:focus {
      border-color: $blue;
      outline: none;
    }

    &--error,
    &--error:focus {
      border-color: $pink;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
  }
}
