<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>

<body>
  <div class="wrapper">
      {% include "partials/header.njk" %}

      {{ content | safe }}

      {% set footerFile = footer or "footer" %}
{% include "partials/" + footerFile + ".njk" %}
  </div>
  {% include "partials/mobile-menu.njk" %}
  {% include "partials/modal-feedback.njk" %}
  {% include "partials/modal-success.njk" %}
  {% include "partials/modal-order.njk" %}

  <script type="module" src="./js/main.js"></script>
</body>
</html>