---
layout: layout.njk
footer: footer-green
title: Фамисепт | Wires
description: Фамисепт: спрей для интимной гигиены | Wires
permalink: famisept.html
---

        <main class="maincontent">
            <section class="hero hero--product hero--green">
                <img src="./assets/img/decor/green-stroke.png" alt="stroke" class="hero__ribbon">
                <div class="container hero__container">
                    <div class="hero__content hero__content--row">
                        <div class="hero__info">
                            <h1 class="hero__title hero__title--blue">Фамисепт</h1>
                            <div class="hero__description hero__description--blue">Спрей для интимной гигиены</div>
                            <div class="hero__actions hero__actions--left">
                                <button class="btn btn--white order" type="button">Купить</button>
                            </div>
                        </div>
                        <div class="hero__image">
                            <img src="./assets/img/products/famisept.png" alt="спрей Фамисепт"
                                class="hero__product hero__product--vertical">
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section--product content">
                <svg class="section__wave" viewBox="0 0 1128 370" preserveAspectRatio="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0,210 C25,206.5 106.7,192.7 150,189 C193.3,185.3 218.3,184.3 260,188 C301.7,191.7 360,202.2 400,211 C440,219.8 466.7,230.5 500,241 C533.3,251.5 566.7,263.8 600,274 C633.3,284.2 666.7,294 700,302 C733.3,310 766.7,316.5 800,322 C833.3,327.5 866.7,331.7 900,335 C933.3,338.3 962,340.5 1000,342 C1038,343.5 1106.7,343.7 1128,344 L1128,370 L0,370 Z"
                        fill="#fff" />
                </svg>
                <div class="container container--product">
                    <h2 class="text__title">Инструкция по медицинскому
                        применению медицинского изделия</h2>
                    <h3>Наименование медицинского изделия</h3>
                    <p>Фамисепт спрей для интимной гигиены.</p>
                    <h3>Состав и описание медицинского изделия</h3>
                    <p>Состав:</p>
                    <p>СВода очищенная, раствор наноколлоидного серебра, экстракт солодки, экстракт шалфея, экстракт
                        алоэ вера, аскорбиновая
                        кислота, натрия цитрат, пропиленгликоль.
                    </p>
                    <p>Описание:</p>
                    <p>Раствор от светло-коричневого до темно-коричневого цвета с травяным запахом, характерным для
                        солодки и шалфея.
                        Допускается наличие осадка, характерного для веществ природного происхождения.</p>
                    <p>Благодаря уникальной комбинации компонентов Фамисепт обладает следующими свойствами:
                        бактерицидным, противовирусным,
                        противогрибковым, противовоспалительным, анальгезирующим действием.</p>
                    <p>Спрей помогает поддержанию нормальной микрофлоры, влияет на местный иммунитет. Снимает симптомы
                        воспаления, улучшает
                        процесс регенерации тканей, устраняет зуд и жжение, способствует увлажнению и помогает вернуть
                        комфорт в интимной зоне.</p>
                    <p>Наноколлоидные частицы серебра</p>
                    <p>Наночастицы серебра в составе спрея Фамисепт проявляют активность в отношении многих патогенных
                        микроорганизмов,
                        возбудителей инфекций – вирусов, бактерий и грибков, способны разрушать биоплёнки, формируемые
                        возбудителями инфекций, и
                        проявляют противовоспалительное действие. За счёт малого диаметра частиц увеличивается область
                        контакта серебра с
                        бактериями, вирусами и грибками, что значительно улучшает бактерицидное действие серебра.</p>
                    <p>Экстракт корня солодки</p>
                    <p>Благодаря эффективной концентрации глицирризиновой кислоты, флавононов, сапонинов и других
                        биологически активных веществ
                        обладает комплексным противовирусным, противовоспалительным, иммуномодулирующим,
                        антиоксидантным, противозудным и
                        регенерирующим действием.</p>
                    <p>Глицирризиновая кислота</p>
                    <p>Оказывает прямое противовирусное действие на разные типы ДНК- и РНК-вирусов in vitro и in vivo
                        (Varicella Zoster, вирус
                        простого герпеса типа I и II, цитомегаловирус, различные типы вируса папилломы человека и др.).
                        Снижает активность
                        воспаления за счёт торможения выброса кининов и синтеза простагландинов. Повышает не
                        специфические факторы защиты,
                        оказывает иммуномодулирующий эффект, повышая активность Т-лимфоцитов, регулируя синтез
                        иммуноглобулинов и индуцируя
                        выработку собственных интерферонов.</p>
                    <p>Экстракт шалфея при местном применении обладает комплексным антимикробным, фунгицидным,
                        противовирусным,
                        противовоспалительным, смягчающим и репаративным действием.</p>
                    <p>Экстракт алоэ вера оказывает антисептическое, обезболивающее, противовоспалительное действие,
                        уменьшает раздражение и
                        покраснение, увлажняет и способствует заживлению кожи и слизистых.</p>
                    <h3>Наименование (обозначение) нормативного документа, в соответствии с которым произведено
                        медицинское изделие</h3>
                    <p>ТУ BY 690662654.028-2021</p>
                    <h3>Область применения</h3>
                    <p>Гинекология, урология, дерматовенерология.</p>
                    <h3>Назначение медицинского изделия (показания к применению)</h3>
                    <ul>
                        <li>В комплексном лечении инфекционно-воспалительных заболеваний кожи и слизистых оболочек, в
                            том числе женской и мужской
                            половой сферы различной этиологии: вирусных (вирус простого герпеса I и II типов,
                            цитомегаловирус, папилломавирус
                            человека, вирус Varicella Zoster), бактериальных (бактериальный вагиноз, неспецифический
                            вульвовагинит), грибковых
                            (кандидозный вульвовагинит) инфекций.</li>
                        <li>Для профилактики инфекций и предотвращения рецидивов вирусных, бактериальных и грибковых
                            инфекций на коже и слизистых.</li>
                        <li>Для усиления процессов регенерации и эпителизации повреждений кожи и слизистой оболочки
                            половых органов (при воспалении,
                            микротрещинах, ссадинах).</li>
                        <li>Для модуляции местного иммунного ответа при лечении инфекционно-воспалительных заболеваний
                            женской и мужской половой
                            сферы.</li>
                    </ul>
                    <p>Возможно применение до и после полового контакта с целью профилактики инфекционно-воспалительных
                        заболеваний.
                        Возможно применение во время беременности и лактации, во время менструации.</p>
                    <h3>Способ применения</h3>
                    <p>Применение наружное, интравагинальное, интрауретральное.</p>
                    <p>Перед употреблением флакон встряхнуть.</p>
                    <p>Наносить спрей после гигиенических процедур на поверхность интимной зоны 2 раза в день или
                        согласно рекомендациям врача.</p>
                    <p>При наружном применении для орошения наружных половых органов – наносить с расстояния 4-5 см
                        путём 2-3 нажатий клапана.
                        При интравагинальном применении с помощью специальной насадки с распылителем ввести во влагалище
                        и произвести
                        впрыскивание путём 2-3 нажатий насадки.</p>
                    <p>Применение у мужчин: препарат наносится наружно и впрыскивается в наружное отверстие
                        мочеиспускательного канала 2-3
                        нажатиями клапана распылителя.</p>
                    <p>Не смывать по мере возможности.</p>
                    <p>Совместим со средствами от папилломавирусной и герпесвирусной инфекций, с антибактериальными и
                        противогрибковыми
                        средствами.</p>
                    <p>Совместное применение спрея Фамисепт с барьерными методами защиты (презервативы) сводит риск
                        заражения вирусными
                        инфекциями, передающимися половым путём, к минимуму.
                        Насадку промывать кипячёной водой с мылом и хранить в сухом месте.</p>
                    <h3>Противопоказания для применения</h3>
                    <p>Индивидуальные реакции гиперчувствительности к любому из компонентов препарата.</p>
                    <h3>Побочные эффекты</h3>
                    <p>Побочные эффекты не были выявлены.</p>
                    <h3>Срок хранения</h3>
                    <p>2 года.</p>
                    <p>Срок хранения указан на первичной и вторичной упаковках.</p>
                    <p>Не применять после истечения срока хранения.</p>
                    <h3>Условия хранения</h3>
                    <p>Хранить в упаковке производителя при температуре не выше 25 °C.</p>
                    <p>Хранить в недоступном для детей месте.</p>
                    <h3>Условия отпуска</h3>
                    <p>Без рецепта.</p>
                    <h3>Упаковка</h3>
                    <p>Пластиковый флакон 60 мл, укороченный спреевым дозатором в комплекте с вагинальной насадкой и
                        инструкцией по применению
                        в картонной упаковке.</p>
                    <h3>Организация-производитель</h3>
                    <p>ООО «Ламира-Фармакар», Республика Беларусь, по лицензии Ламира ЛЛП, Великобритания.
                    <p>Адрес: 222215, Минская область, Смолевичский район, Озерицко-Слободской с/с, 105, вблизи аг.
                        Слобода,
                        комната 55.</p>
                    <p>Тел./факс: +375 (17) 555-52-76</p>
                    <p>E-mail: info@lphc.by</p>
                    <p>Сайт: www.lphc.by</p>
                    <h3>Данные о выпуске или последнем пересмотре инструкции по медицинскому применению</h3>
                    <p>21 августа 2023 года</p>
                </div>
                <div class="section__action">
                    <button class="btn btn--light-blue order">Купить</button>
                </div>
            </section>
        </main>
