---
layout: layout.njk
title: "Пелагро Про | Wires"
description: "Пелагро Про: прогресс в борьбе с герпесом | Wires"
permalink: index.html
---


        
<main class="maincontent">
            <section class="hero hero--home">
                <div class="container hero__container">
                    <div class="hero__content">
                        <p class="hero__eyebrow">МИ-KG-3054</p>
                        <h1 class="hero__title">Пеларго про</h1>
                        <p class="hero__description">Прогресс в борьбе с герпесом</p>
                        <img src="./assets/img/products/pelargo-pro.png" alt="Пеларго Про" class="hero__product">
                        <div class="hero__actions">
                            <button class="btn btn--white order" type="button">Купить</button>
                            <a href="./#pelargo-description" class="hero__link">Подробнее</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="pelargo-description" class="section">
                <div class="container">
                    <div class="headline">
                        <h2 class="section__title">состав Пеларго про</h2>
                        <button class="btn btn--green order" type="button">Купить</button>
                    </div>
                    <div class="product-properties">
                        <ul class="product-properties__list">
                            <li class="product-properties__item">
                                <div class="product-property">
                                    <div class="product-property__desc">
                                        <div class="product-property__title">Экстракт пеларгонии</div>
                                        <div class="product-property__text">Эффективен против вируса герпеса 1 и 2 типа,
                                            препятствует его размножению, снимает воспаление и действует против
                                            бактерий.</div>
                                    </div>
                                    <div class="product-property__image"><img
                                            src="./assets/img/illustrations/pelargony.png" alt="состав препарата"
                                            class="product-property__img">
                                    </div>
                                </div>
                            </li>
                            <li class="product-properties__item">
                                <div class="product-property">
                                    <div class="product-property__desc">
                                        <div class="product-property__title">Наноколлоид серебра</div>
                                        <div class="product-property__text">Эффективен против герпеса и сохраняет
                                            эффективность благодаря отсутствию устойчивости у вирусов и бактерий.</div>
                                    </div>
                                    <div class="product-property__image">
                                        <img src="./assets/img/illustrations/argentum.png" alt="состав препарата"
                                            class="product-property__img">
                                    </div>
                                </div>
                            </li>
                            <li class="product-properties__item">
                                <div class="product-property">
                                    <div class="product-property__desc">
                                        <div class="product-property__title">Экстракт солодки</div>
                                        <div class="product-property__text">Успокаивает воспаления и помогает бороться с
                                            вирусами.</div>
                                    </div>
                                    <div class="product-property__image">
                                        <img src="./assets/img/illustrations/solodka.png" alt="состав препарата"
                                            class="product-property__img">
                                    </div>
                                </div>
                            </li>
                            <li class="product-properties__item">
                                <div class="product-property">
                                    <div class="product-property__desc">
                                        <div class="product-property__title">Прополис</div>
                                        <div class="product-property__text">Эффективен при вирусе герпеса 1 и 2 типа.
                                        </div>
                                    </div>
                                    <div class="product-property__image">
                                        <img src="./assets/img/illustrations/propolis.png" alt="состав препарата"
                                            class="product-property__img">
                                    </div>
                                </div>
                            </li>
                            <li class="product-properties__item">
                                <div class="product-property">
                                    <div class="product-property__desc">
                                        <div class="product-property__title">Пчелиный воск</div>
                                        <div class="product-property__text">Создаёт защитную плёнку, которая помогает
                                            коже
                                            быстрее восстанавливаться.</div>
                                    </div>
                                    <div class="product-property__image">
                                        <img src="./assets/img/illustrations/vosk.png" alt="состав препарата"
                                            class="product-property__img">
                                    </div>
                                </div>
                            </li>
                            <li class="product-properties__item">
                                <div class="product-property">
                                    <div class="product-property__desc">
                                        <div class="product-property__title">Ланолин</div>
                                        <div class="product-property__text">Ускоряет заживление и помогает повреждённой
                                            коже
                                            восстановиться.</div>
                                    </div>
                                    <div class="product-property__image">
                                        <img src="./assets/img/illustrations/lanolin.png" alt="состав препарата"
                                            class="product-property__img">
                                    </div>
                                </div>
                            </li>
                            <li class="product-properties__item">
                                <div class="product-property">
                                    <div class="product-property__desc">
                                        <div class="product-property__title">Левоментол</div>
                                        <div class="product-property__text">Обеспечивает охлаждающий эффект, снимает
                                            дискомфорт и облегчает боль.</div>
                                    </div>
                                    <div class="product-property__image">
                                        <img src="./assets/img/illustrations/levomentol.png" alt="состав препарата"
                                            class="product-property__img">
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="slider-directions properties-slider">
                            <button class="slider-directions__btn slider-directions__btn--prev" type="button"></button>
                            <ul class="slider-directions__list">
                                <li class="slider-directions__item">
                                    <div class="outer-circle">
                                        <div class="inner-circle"></div>
                                    </div>
                                </li>
                                <li class="slider-directions__item">
                                    <div class="outer-circle">
                                        <div class="inner-circle"></div>
                                    </div>
                                </li>
                                <li class="slider-directions__item">
                                    <div class="outer-circle">
                                        <div class="inner-circle"></div>
                                    </div>
                                </li>
                            </ul>
                            <button class="slider-directions__btn slider-directions__btn--next" type="button"></button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="headline">
                        <h2 class="section__title">Действие Пеларго про</h2>
                        <button class="btn btn--green order" type="button">Купить</button>
                    </div>
                    <div class="product-slider">
                        <ul class="product-slider__list">
                            <li class="product-slider__item">
                                <div class="product-slider__desc">Обезболивает и снимает раздражение
                                </div>
                                <div class="product-slider__image"><img src="./assets/img/illustrations/usage5.png"
                                        alt="Как работает средство" class="product-slider__img"></div>
                            </li>
                            <li class="product-slider__item">
                                <div class="product-slider__desc">Благодаря комплексному составу подходит как для
                                    острого периода герпеса, так и для стадии заживления</div>
                                <div class="product-slider__image"><img src="./assets/img/illustrations/usage4.png"
                                        alt="Как работает средство" class="product-slider__img"></div>
                            </li>
                            <li class="product-slider__item">
                                <div class="product-slider__desc">Не вызывает привыкания у вирусов и бактерий
                                </div>
                                <div class="product-slider__image"><img src="./assets/img/illustrations/usage3.png"
                                        alt="Как работает средство" class="product-slider__img"></div>
                            </li>
                            <li class="product-slider__item">
                                <div class="product-slider__desc">Останавливает рост и распространение герпетических
                                    высыпаний
                                </div>
                                <div class="product-slider__image"><img src="./assets/img/illustrations/usage2.png"
                                        alt="Как работает средство" class="product-slider__img"></div>
                            </li>
                            <li class="product-slider__item">
                                <div class="product-slider__desc">Не заметен на губах, не течет и не оставляет горького
                                    привкуса
                                </div>
                                <div class="product-slider__image"><img src="./assets/img/illustrations/usage1.png"
                                        alt="Как работает средство" class="product-slider__img"></div>
                            </li>
                            <li class="product-slider__item">
                                <div class="product-slider__desc">Удобная форма для нанесения с аппликатором
                                </div>
                                <div class="product-slider__image"><img src="./assets/img/illustrations/usage.png"
                                        alt="Как работает средство" class="product-slider__img"></div>
                            </li>
                        </ul>
                        <div class="slider-directions">
                            <button class="slider-directions__btn slider-directions__btn--prev" type="button"></button>
                            <ul class="slider-directions__list">
                            </ul>
                            <button class="slider-directions__btn slider-directions__btn--next" type="button"></button>
                        </div>
                    </div>
                </div>
            </section>
</main>