<div class="modal-success" role="dialog" aria-modal="true" aria-labelledby="success-title">
    <div class="modal-success__content">
        <h2 class="modal-success__title" id="success-title">
                Спасибо!
        </h2>
        <p class="modal-success__message">
                Мы скоро вам перезвоним.
        </p>
        <button class="modal-success__close" type="button" aria-label="Закрыть">
        </button>
    </div>
</div>